<body>
  <!-- We check to see if we have a member, because the html component will be loaded before
  the ts file is execute (the ts file provides the member) -->

  <tabset class="tabset-member" #memberTabs>
    
    <tab heading="Member Info" class="tab-member" (selectTab)="actvateOnTab($event)">
      <div class="container">
        <div class="main-body">
          <!-- /Breadcrumb -->
          <div class="row gutters-sm">
            <div class="col-md-4 mb-4 mt-4">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{hrmember.photoUrl || './assets/user.png'}}" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>
                        <span  [class.is-online]="(presence.onlineUsers$ | async).includes(hrmember.username)">
                          <i class="fa fa-user-circle"></i>
                        </span> 
                        {{hrmember.fullName}}</h4>
                      <p class="text-secondary mb-1">username: {{hrmember.username}}</p>
    
                      <p class="text-muted font-size-sm">BEST Cluj-Napoca HR Team</p>
    
                      <p class="text-secondary mb-1">Last Active: {{hrmember.lastActive | timeago}}</p>
                      <p class="text-secondary mb-1">Member since: {{hrmember.created | date: 'longDate'}}</p>
                      <br>
    
                    <button class="btn btn-dark btn-sm px-3 message-button" (click)="selectTab(1)"> Send Message
                      </button>
    
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-5">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{hrmember.fullName}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Age</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{hrmember.age}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{hrmember.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{hrmember.phoneNumber}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Faculty</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{hrmember.faculty}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Status or Inspirational Quote</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{hrmember.statusOrQuote}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
    
                      <a href="#" class="btn btn-dark btn-sm px-3 cancel-button" routerLinkActive="list-item-active"
                        routerLink="/dashboard/hrmembers">Cancel</a>
                    </div>
                  </div>
                </div>
              </div>   
            </div>
          </div> 
        </div>
      </div>  
    </tab>
    <tab heading="Messages" class="tab-member" (selectTab)="actvateOnTab($event)">
      <app-member-message [username]="hrmember.username"></app-member-message>
    </tab>
  </tabset>

</body>

<tabset>

</tabset>