.stats-cards {
    overflow: hidden;
}

.mat-cards {
    overflow: hidden;
}

table {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pie-chart {
    max-width: 45%;
}

.card-chart {
    max-width: 20%;
}