<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <ul *ngIf="(loginregisterService.currentHRUser$ | async) && !loggedIn">
        <li  href="#" style="color:aliceblue">PAPAPAPA</li>
        <li>
          <a style="color:aliceblue" (click)="logout()">Logout</a>
        </li>
      </ul>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <form *ngIf="(loginregisterService.currentHRUser$ | async) === null && !loggedIn"  #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" 
        autocomplete="off">
        <input 
            name="username"
            [(ngModel)]="model.username"
            class="form-control mr-sm-2" 
            type="text" 
            placeholder="Username">
        <input 
            name="password"
            [(ngModel)]="model.password"
            class="form-control mr-sm-2" 
            type="password" 
            placeholder="Password">
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Login</button>
    </form>
    <div *ngIf="(loginregisterService.currentHRUser$ | async) !== null && loggedIn">
      <app-dashboard></app-dashboard>
    </div>
      </div>
    </div>
  </nav>
  




