<mat-toolbar class="gradient-custom">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSidebar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span>
            <img class="best-img" src="./assets/sigla.png">
        </span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button [matMenuTriggerFor]="Deletemenu">
                        <mat-icon class="button-right">delete_outline</mat-icon>
                    </button>
                    <mat-menu #Deletemenu="matMenu">
                        <button  
                        (click)="deleteAccount(hrmember.username)" 
                        mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            Delete account
                        </button>
                    </mat-menu>
                </li>
                <!-- <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li> -->
                <li>
                    <button mat-button [matMenuTriggerFor]="Accountmenu">
                        <mat-icon class="button-right">person_outline</mat-icon>
                    </button>
                    <mat-menu #Accountmenu="matMenu">
                        <button (click)="logout()" mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            Log out
                        </button>
                        <button  mat-menu-item routerLinkActive="list-item-active" routerLink="/dashboard/edit-profile">
                            <mat-icon>edit</mat-icon>
                            Edit Profile
                        </button>
                        
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
