<h4>Internal Server Error - refreshing the page will make the error disappear!</h4>
<!-- check to see if we have anything in the error object -->
<ng-container *ngIf = "error">
    <h5 class = "text-danger">Error: {{error.message}}</h5>
   <p classs="font-weight-bold">Note: If you are seeing this, than Angular is probably not to blame</p>
   <p>What to do next?</p>
   <ol>
       <li>Open the Chrome dev tools</li>
       <li>Inspect the network tab</li>
       <li>Check the failing request</li>
       <li>Examine the request URL - make sure this is correct</li>
       <li>Reproduce the error in Postman - if you see the same response, than the problem is not with Angular</li>
   </ol>
   <p>Following is the stack trace - this is where your investigation should start</p>
   <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
</ng-container>
