<h2>
    Admin Panel
</h2>

<div class="tab-panel">
    <tabset class="member-tabset">
        <tab  heading="User management" *appHasRole='["Admin", "TeamMember"]'>
            <div class="container">
                <app-user-management></app-user-management>
            </div>
        </tab>
        <tab  heading="Create account for user" *appHasRole='["Admin", "TeamMember"]'>
            <div class="container">
                <app-create-account></app-create-account>
            </div>
        </tab>
    </tabset>
</div>
